body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}


.generated-password {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.generated-password label {
  font-weight: bold;
  margin-right: 10px;
}

.generated-password input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.checkbox-wrapper:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper:hover:before {
    border-color: #999;
}

.checkbox-wrapper:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid #4e8cff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

input[type="checkbox"]:checked + .checkbox-wrapper:after {
    display: block;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #4e8cff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #a590e4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

